/*body{
    background-image: url('https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg');
    background-size: cover;
    height:100vh;
}*/

/*button {
    padding:10px;
    margin-left: 70px;
    }*/




/*p{
    font-style:italic;
    font-weight:bold;
    text-decoration:overline;
}*/
/*a {
    text-decoration: none;
}0
p{
   border:solid;
   border-width: 9px;
   border-color: blue;
   border-radius: 10px;
   color: #ca03fc;
   font-size: 50px;
}*/
/*body{
    background-image: url('https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg?w=2000');
    background-size:cover;
    height: 100vh
    ;
}/*
